.hero {
  display: flex;
  flex-direction: row;
  height: auto;
}

.hero__left {
  background-color: hsl(48 70% 51% / 1);
  filter: contrast(1.5);
  flex: 1;
  overflow: hidden;
}

.hero__inner {
  background-color: #000000;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1500px;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.hero__right {
  background-color: hsl(300 70% 50% / 1);
  filter: contrast(1.2);
  flex: 1;
  overflow: hidden;
}

.hero__title {
  color: #ffffff;
  margin: 0;
  font-size: 63px;
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
  white-space: nowrap;
  letter-spacing: -1px;
}

.hero__photos {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 95%;
  max-height: 280px;
  overflow: hidden;
  max-width: 100%; /* Agrega esta propiedad */
}

.hero__photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero__photo img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.hero__byline {
  color: #ffffff;
  margin-top: 20px;
  font-size: 42px;
  font-family: 'Libre Baskerville', serif;
  white-space: nowrap;
  letter-spacing: -1px;
}

.circles-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 16px 7px rgba(255, 255, 255, 10);
  margin: 40px 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero__inner {
    width: 90%; /* Puedes ajustar el valor según tus necesidades */
  }
  .hero__title {
    font-size: 42px;
  }

  .hero__byline {
    font-size: 28px;
  }

  .hero__photos {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .hero__photo {
    margin: 0 5px;
  }
  .hero__photo img {
    max-width: 100%;
    max-height: 100%;
  }
  .circle {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .hero__inner {
    width: 90%;
  }
  .hero__title {
    font-size: 44px;
  }

  .hero__byline {
    font-size: 36px;
  }

  .hero__photos {
    padding-top: 15px;
  }

  .hero__photo {
    margin: 0 10px;
  }
  .hero__photo img {
    max-width: 100%;
    max-height: 100%;
  }
  .circle {
    width: 20px; /* Ajusta el valor según tus necesidades */
    height: 20px; /* Ajusta el valor según tus necesidades */
  }
}
