.hero {
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.hero__inner {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero__title {
  color: #ffffff;
  margin: 0;
  font-size: 63px;
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
  letter-spacing: -1px;
}

.hero__photos {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  width: calc(75% - 80px);
  max-height: 280px;
  overflow: hidden;
}

.hero__photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero__photo img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.hero__byline {
  color: #ffffff;
  margin-top: 30px;
  font-size: 42px;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: -1px;
}

.hero__top {
  background-color: hsl(48deg 79.61% 50.57%);
  filter: contrast(1.5) brightness(1.5);
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.hero__bottom {
  background-color: hsl(300, 100%, 50%);
  filter: contrast(1.5) brightness(1.3);
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.circles-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 16px 7px rgba(255, 255, 255, 10);
  margin: 0 10px;
}

@media (max-width: 880px) and (max-height: 1180px) {
  .hero__title {
    font-size: 40px;
    text-align: center;
    white-space: normal;
  }

  .hero__photos {
    width: calc(100% - 40px);
    padding-bottom: 40px;
  }

  .hero__photo {
    padding: 0 10px;
  }
}

@media (max-width: 912px) and (max-height: 1368px) {
  .hero__title {
    font-size: 50px;
    text-align: center;
    white-space: normal;
  }

  .hero__photos {
    width: calc(80% - 60px);
    padding-bottom: 60px;
  }

  .hero__photo {
    padding: 0 20px;
  }
}

.hero__vignette::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    at center 50%,
    transparent 85%,
    rgba(8, 8, 8, 0.7) 60%,
    rgb(6 6 0.8) 95%
  );
  filter: blur(10px);
}

@media (max-width: 880px) and (max-height: 1180px) {
  .hero__title {
    font-size: 40px;
    text-align: center;
    white-space: normal;
  }

  .hero__photos {
    width: calc(100% - 40px);
    padding-bottom: 40px;
  }

  .hero__photo {
    padding: 0 10px;
  }
}

@media (max-width: 912px) and (max-height: 1368px) {
  .hero__title {
    font-size: 50px;
    text-align: center;
    white-space: normal;
  }

  .hero__photos {
    width: calc(80% - 60px);
    padding-bottom: 60px;
  }

  .hero__photo {
    padding: 0 20px;
  }
}

@media (max-width: 1024px), (max-height: 600px) {
  .hero__photos {
    width: calc(90% - 60px);
    padding-bottom: 40px;
    justify-content: space-between;
  }

  .hero__photo {
    padding: 0 5px;
  }
}

@media (max-width: 375px), (max-height: 667px) {
  .hero__title {
    font-size: 20px;
    white-space: nowrap;
  }

  .hero__photos {
    width: calc(90% - 20px);
    padding-bottom: 20px;
  }

  .hero__photo {
    padding: 0 2px;
  }
}

@media (max-width: 414px), (max-height: 896px) {
  .hero__title {
    font-size: 25px;
    white-space: nowrap;
  }

  .hero__photos {
    width: calc(90% - 20px);
    padding-bottom: 20px;
  }

  .hero__photo {
    padding: 0 2px;
  }
  .hero__byline {
    font-size: 20px;
  }
}
